{% load static %}

<nav class="navbar navbar-expand-lg shadow">
    <div class="container-fluid text-center text-md-start">
        <a class="navbar-brand d-block mx-auto mx-md-0" href="#">
            <img src="{% static 'resources/aq3.png' %}" alt="" height="50"
                class="d-inline-block align-text-top ps-5 ps-lg-0">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Job Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'company' %}">Company Profiles</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="user_navlink" href="#" data-bs-toggle="dropdown">
                            Welcome, {{ employee.first_name }} {{ employee.last_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="user_navlink">
                            <li><a class="dropdown-item" href="{% url 'user_my_jobs' %}"><i class="bi bi-briefcase-fill me-3"></i>My Jobs</a>
                            </li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="{% url 'user_toLogout' %}"><i class="bi bi-box-arrow-right me-3"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>