{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include 'includes/user_cdn.html' %}
    <link rel="stylesheet" href="{% static 'css/job_detail.css' %}">
    <!-- Add your custom styles or CDN links here -->
</head>

<body>
    {% include 'includes/user_navbar.html' %}
    <div id="job_detail" class="banner d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column text-center w-25">

            <h1>{{ job.title }}</h1>
            <h5>{{ job.company }}</h5>
            <div class="text-center">
                <button class="btn my-2 my-sm-0 w-50" type="button"
                    style="background-color: #1E2F96; color:white">Apply</button>
            </div>
        </div>
    </div>
    <div class="container d-flex p-3">
        <p class="me-5">Number of People: {{ job.number_of_people}}</p>
        <p class="me-5">Salary: {{ job.salary}}</p>
        <p class="me-5">Category: {{ job.category}}</p>
        <p class="me-5">Application Deadline: {{ job.date}}</p>
        <p class="me-5">Location: {{ job.location}}</p>
    </div>
    <div class="container">
        <div class="card mb-5">
            <div class="card-header">
                <h5 style="color: #8834FC;">Job Overview</h5>
            </div>
            <div class="card-body">
                <p>{{ job.description|linebreaksbr|safe }}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 style="color: #8834FC;">Job Requirements</h5>
            </div>
            <div class="card-body">
                <p>{{ job.requirements|linebreaksbr|safe}}</p>
            </div>
        </div>
    </div>



    {% include 'includes/user_js_cdn.html' %}
</body>

</html>