{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include 'includes/user_cdn.html' %}
    <link rel="stylesheet" href="{% static 'css/job_detail.css' %}">
    <!-- Add your custom styles or CDN links here -->
</head>

<body>
    {% include 'includes/user_navbar.html' %}
    <div id="job_detail" class="banner d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column text-center w-25">

            <h1>{{ job.title }}</h1>
            <h5>{{ job.company }}</h5>
            <div class="text-center">
                <a class="text-decoration-none text-light" href="{% url 'user_application_process' id=job.id %}"><button class="btn my-2 my-sm-0 w-50" type="button" style="background-color: #1E2F96; color:white">Apply</button></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="card mb-5 mt-5">
            <div class="card-header">
                <h5 style="color: #8834FC;">Job Details</h5>
            </div>
            <div class="card-body">
                <div class="row ps-5">
                    <div class="col-md-6 mb-2">
                        <p class="mb-0"><i class="bi bi-people-fill me-2"></i> Number of People:
                            {{ job.number_of_people}}
                        </p>
                    </div>
                    <div class="col-md-6 mb-2">
                        <p class="mb-0"><i class="bi bi-coin me-2"></i>Salary: {{ job.salary}}</p>
                    </div>
                    <div class="col-md-6 mb-2">
                        <p class="mb-0"><i class="bi bi-suitcase-lg-fill me-2"></i>Category: {{ job.category}}</p>
                    </div>
                    <div class="col-md-6 mb-2">
                        <p class="mb-0"><i class="bi bi-calendar-date-fill me-2"></i>Application Deadline: {{ job.date}}
                        </p>
                    </div>
                    <div class="col-md-6 mb-2">
                        <p class="mb-0"><i class="bi bi-geo-alt-fill me-2"></i>Location: {{ job.location}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card mb-5">
            <div class="card-header">
                <h5 style="color: #8834FC;">Job Overview</h5>
            </div>
            <div class="card-body">
                <p>{{ job.description|linebreaksbr|safe }}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 style="color: #8834FC;">Job Requirements</h5>
            </div>
            <div class="card-body">
                <p>{{ job.requirements|linebreaksbr|safe}}</p>
            </div>
        </div>
    </div>



    {% include 'includes/user_js_cdn.html' %}
</body>

</html>