{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{title}}</title>
        <!-- Custom fonts for this template -->
        {% include 'includes/user_cdn.html' %}

    </head>

    <body id="page-top">
        {% include 'includes/user_navbar.html' %}

        <h1>Home Page</h1>
        
        {% include 'includes/user_js_cdn.html' %}
    </body>

</html>