.banner {
    /* background: linear-gradient(0deg, rgba(18, 81, 40, 0.7), rgba(18, 81, 40, 0.7)), url('./img/BSU FRONT 2.jpg'); */
    background: url('/static/resources/banner.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: end;
    color: white;
    padding: 5px 5px 5px 10px;
}

.container{
    width: 100%; 
    text-align: center; 
    vertical-align: middle;
}

.form_container{
    width: 130vh; 
    text-align: left;
    margin: 60px 0px 100px 10px;
    padding: 30px 0px 30px 0px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgrey;
}

.form_container label {
    display: inline-block;
    width: 200px; /* Adjust the width based on your preference */
    text-align: left;
    margin-left: 50px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.form_container input,
.form_container select {
    width: 300px; /* Adjust the width based on your preference */
    margin-bottom: 30px;
}

.form_container h5,
.form_container h2 {
    font-weight: bolder;
    text-align: center;
}

.form_container p {
    font-weight: bolder;
    text-align: center;
}

hr {
    border: 3px solid;
    margin: 20px 25px 20px 25px;
}

button {
    margin: 0px 0px 0px 915px; /* Updated margin to move the button to the right */
    width: 200px;
    height: 40px;
    align-self: flex-end; /* Updated align-self to flex-end */
    border-radius: 5px;
    border: none;
    background-color: #4d9ee9;
    color: white;
    font-weight: bolder;
}

button:hover {
    background-color: #1c84e6;
    color: white;
    font-weight: bolder;
}