{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="http://127.0.0.1:8000/">

    <title>{{title}}</title>
    <!-- Custom fonts for this template -->
    {% include 'includes/header-cdn.html' %}
    <link rel="stylesheet" href="{% static 'css/company_profile.css' %}">
    <!-- Include Bootstrap Datepicker JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>

<body id="page-top">
    <script>

        $(document).ready(function () {
            console.log("TITE");
            console.log("{{request.session.id}}");
            fetchCompanyData("{{request.session.id}}");


            $("#add-company-btn").click(function () {
                // Make an Ajax request to the Django endpoint
                $.ajax({
                    type: "GET",
                    url: "employer/add_company_profile",  // Update with your actual URL
                    success: function (data) {
                        if (data.success) {
                            console.log(data.message);
                        } else {
                            alert("Error: " + data.message);
                        }
                    },
                    error: function (error) {
                        console.error("Error adding company profile:", error);
                    }
                });
            });

            // Bind the fetchCompanyData function to the button click event
            $("#edit-company-profile-btn").click(function () {
                // Specify the desired company ID (in this case, 5)
                assignCompanyData("{{request.session.id}}");
            });
        });

        function fetchCompanyData(companyId) {
            // Make an Ajax request to fetch company data
            console.log(companyId);
            $.ajax({
                type: "GET",
                url: `/employer/get_company_data/${companyId}/`,  // Update with your actual URL
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        // Populate input fields with fetched data
                        $('#profile-company-name').text(data.company.company_name);
                        $('#profile-email').text(data.company.company_email);
                        $('#profile-location').text(data.company.location);
                        $('#profile-website').text(data.company.website);
                        $('#profile-scope').text(data.company.scope);
                        $('#profile-overview').html(data.company.overview);
                        $('#profile-join-us').html(data.company.join_us);

                        // Set the src of the image
                        var profilePicturePath = data.company.profile_picture_path;
                        if (profilePicturePath && profilePicturePath !== "-") {
                            // If profile_picture_path is not "-" or falsy, use the provided path
                            var timestamp = new Date().getTime(); // Get the current timestamp
                            $('#display-profile-picture').attr('src', `../static/resources/profile_picture/${profilePicturePath}?timestamp=${timestamp}`);
                            console.log("Meron laman" + data.company.profile_picture_path);
                        } else {
                            // If profile_picture_path is "-" or falsy, use the default path
                            $('#display-profile-picture').attr('src', '/static/resources/default_profile.png');
                            console.log("Wala laman");
                        }

                        // Set the background-image of the display-cover div
                        var coverPhotoPath = data.company.cover_photo_path;
                        if (coverPhotoPath && coverPhotoPath !== "-") {
                            var timestamp = new Date().getTime(); // Get the current timestamp
                            // If cover_photo_path is not "-" or falsy, use the provided path
                            $('#display-cover').css('background-image', `url(../static/resources/cover_photo/` + coverPhotoPath + `?timestamp=${timestamp})`);

                            // If profile_picture_path is not "-" or falsy, use the provided path

                            // $('#display-cover').attr('src', `./static/resources/cover_photo/${coverPhotoPath}?timestamp=${timestamp}`);
                            console.log("Meron laman cover" + data.company.cover_photo_path);
                        } else {
                            // If cover_photo_path is "-" or falsy, use the default path
                            $('#display-cover').css('background-image', 'url(/static/resources/default_cover.png)');
                        }
                    } else {
                        alert("Error: " + data.message);
                    }
                },
                error: function (error) {
                    console.error("Error fetching company data:", error);
                }
            });
        }

        function assignCompanyData(companyId) {
            // Make an Ajax request to fetch company data
            $.ajax({
                type: "GET",
                url: `/employer/get_company_data/${companyId}/`,  // Update with your actual URL
                success: function (data) {
                    if (data.success) {
                        // Populate input fields with fetched data
                        $('#company_name').val(data.company.company_name);
                        $('#company_email').val(data.company.company_email);
                        $('#location').val(data.company.location);
                        $('#website').val(data.company.website);
                        $('#scope').val(data.company.scope);
                        // $('#overview').html(data.company.overview);
                        // $('#join_us').val(data.company.join_us);
                        // Replace <br> tags with newlines in the overview and join_us fields
                        var overviewWithNewlines = data.company.overview.replace(/<br>/g, '\n');
                        $('#overview').val(overviewWithNewlines);

                        var joinUsWithNewlines = data.company.join_us.replace(/<br>/g, '\n');
                        $('#join_us').val(joinUsWithNewlines);

                    } else {
                        alert("Error: " + data.message);

                    }
                },
                error: function (error) {
                    console.error("Error fetching company data:", error);
                }
            });
        }

        function hidePreviewProfile() {
            $('#preview-image').hide();
            $('#cover-photo').val('');
        }

        function hidePreviewCover() {
            $('#preview-cover').hide();
            $('#profile').val('');
        }

        function hideEditAlert() {
            $('#edit-alert').hide();
        }

        function hideProfileAlert() {
            $('#profile-alert').hide();
        }

        function editCompanyProfile() {
            var companyId = $("#edit-company-id").val();

            // Validate form fields
            var validationPassed = true;

            // Email validation function
            function isValidEmail(email) {
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }

            // Website URL validation function
            function isValidURL(url) {
                var urlRegex = /^(ftp|http|https):\/\/[^ "]+$/;
                return urlRegex.test(url);
            }

            // Loop through each form field
            $(".edit-profile").each(function () {
                var fieldValue = $(this).val().trim();

                // Check if the field is empty
                if (fieldValue === "") {
                    $('#edit-alert').show();
                    $("#edit-alert").text("All fields must be filled out").show();
                    validationPassed = false;
                    return false; // Exit the loop early if any field is empty
                }

                // Validate email
                if ($(this).attr("id") === "company_email" && !isValidEmail(fieldValue)) {
                    $('#edit-alert').show();
                    $("#edit-alert").text("Please enter a valid email address").show();
                    validationPassed = false;
                    return false; // Exit the loop early if email is invalid
                }

                // Validate website URL
                if ($(this).attr("id") === "website" && !isValidURL(fieldValue)) {
                    $('#edit-alert').show();
                    $("#edit-alert").text("Please enter a valid website URL").show();
                    validationPassed = false;
                    return false; // Exit the loop early if website URL is invalid
                }
            });

            if (!validationPassed) {
                return; // Exit the function if validation fails
            }

            // Collect data from form
            var formData = {
                company_name: $("#company_name").val(),
                company_email: $("#company_email").val(),
                location: $("#location").val(),
                website: $("#website").val(),
                scope: $("#scope").val(),
                overview: $("#overview").val().replace(/\n/g, '<br>'),
                join_us: $("#join_us").val().replace(/\n/g, '<br>'),
                // Add other form fields as needed
            };

            // Make AJAX request
            $.ajax({
                type: "POST",  // Use POST or PUT based on your server implementation
                url: "/employer/update_company_profile/" + companyId + "/",  // Replace with your API endpoint
                data: formData,
                success: function (response) {

                    if (response.success) {
                        // Handle successful response (if needed)
                        console.log(response.message);
                        // Close the modal or perform other actions
                        $('#edit-company-profile').modal('hide');
                        const success_edit_toast = document.getElementById('success-edit-toast');
                        bootstrap.Toast.getOrCreateInstance(success_edit_toast).show();
                    } else {
                        // Handle error response
                        console.error(response.message);
                        $('#edit-alert').show();
                        $("#edit-alert").text(response.message).show();
                        // You can display an error message to the user or take other actions
                        const failed_edit_toast = document.getElementById('failed-edit-toast');
                        bootstrap.Toast.getOrCreateInstance(failed_edit_toast).show();
                    }

                    fetchCompanyData("{{request.session.id}}");
                },
                error: function (error) {
                    // Handle AJAX error
                    console.log("AJAX Error:", error);
                }
            });
        }
    </script>

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="success-edit-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Successfully edited company profile.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>

            <div id="success-cover-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Successfully change cover photo.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>

            <div id="failed-cover-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Failed to change cover photo.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>

            <div id="success-profile-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Successfully change profile picture.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>

            <div id="failed-profile-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Failed to change profile picture.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>

            <div id="failed-edit-toast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Failed to edit company profile.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        {% include 'includes/navbar.html' %}

        <div class="banner d-flex justify-content-end align-items-center">
        </div>

        <!-- Begin Page Contents -->
        <div class="">
            <div>
                <div class="col-md-12 mx-auto p-0">
                    <div class="bg-white shadow overflow-hidden">
                        <div id="display-cover" style="background-image: url(./static/resources/default_profile.png);"
                            class="px-4 pt-0 pb-4 cover">
                            <div class="media align-items-end profile-head">
                                <div class="profile mr-3">
                                    <img style="width: 130px; height: 130px;" src="./static/resources/default_cover.png"
                                        id="display-profile-picture" alt="..." width="130"
                                        class="rounded mb-2 img-thumbnail">
                                    <a href="#" class="btn btn-outline-dark btn-sm btn-block" data-bs-toggle="modal"
                                        data-bs-target="#edit-choose">Edit profile</a>
                                </div>
                                <div class="media-body mb-5 text-white">
                                    <h2 class="mt-0 mb-3 fw-bold text-purple" id="profile-company-name">-</h2>
                                </div>
                            </div>

                        </div>
                        <div style="height: 100px;" class="bg-light p-4 d-flex justify-content-end text-center">

                        </div>

                        <!-- ABOUT -->
                        <div class="p-4">
                            <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link  active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-about" type="button" role="tab"
                                        aria-controls="pills-home" aria-selected="true">Home</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-jobs" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Profile</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                                    aria-labelledby="pills-about-tab" tabindex="0">
                                    <ul class="list-unstyled text-purple">
                                        <li class="mb-2"><i class="bi bi-envelope me-2"></i><span
                                                class="text-black fw-bold" id="profile-email">-</span>
                                        </li>
                                        <li class="mb-2"><i class="bi bi-geo-alt me-2"></i></i><span
                                                class="text-black fw-bold" id="profile-location">-</span></li>
                                        <li class="mb-2"><i class="bi bi-link-45deg me-2"></i><span
                                                class="text-black fw-bold" id="profile-website">-</span>
                                        </li>
                                        <li class="mb-2"><i class="bi bi-card-checklist me-2"></i><span
                                                class="text-black fw-bold" id="profile-scope">-</span></li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="pills-jobs" role="tabpanel"
                                    aria-labelledby="pills-jobs-tab" tabindex="0">...</div>
                            </div>
                        </div>
                        <!-- ABOUT -->

                        <!-- COMPANY OVERVIEW -->
                        <div class="px-4 mb-3">
                            <h4 class="text-purple fw-bold">Company Overview</h4>
                            <div class="border border-light-subtle rounded p-2">
                                <p id="profile-overview">-</p>
                            </div>
                        </div>
                        <!-- COMPANY OVERVIEW -->

                        <!-- COMPANY OVERVIEW -->
                        <div class="px-4 mb-3">
                            <h4 class="text-purple fw-bold">Why Join us?</h4>
                            <div class="border border-light-subtle rounded p-2">
                                <p id="profile-join-us">-</p>
                            </div>
                        </div>
                        <!-- COMPANY OVERVIEW -->

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <div class="modal fade" id="edit-choose" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-picture"
                                    onclick="hideProfileAlert(), hidePreviewProfile()"><i
                                        class="bi bi-camera2 me-1"></i>Profile
                                    Picture</button>
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-cover"><i class="bi bi-image me-1"></i>Cover
                                    Photo</button>
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-profile" id="edit-company-profile-btn"><i
                                        class="bi bi-info-circle me-1" onclick="hideEditAlert()"></i>Company
                                    Details</button>
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#add-company-profile"><i class="bi bi-info-circle me-1"></i>Add
                                    Company</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-cover" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Cover</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div style="display: none;" class="alert alert-danger" role="alert"
                                        id="cover-alert">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <!-- Inside the modal body -->
                                    <div id="image-cover-preview" style="display: none;">
                                        <img id="preview-cover" alt="File Preview" class="m-auto"
                                            style="max-width: 100%; max-height: 200px;" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="profile-picture" class="form-label">Cover Photo </label>
                                        <input class="form-control" type="file" id="cover-photo"
                                            onchange="handleCover(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="closePreview()">Close</button>
                            <button type="button" class="btn btn-purple"
                                onclick="saveCoverPhoto('{{request.session.id}}')">Save Cover</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-picture" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <script>

                        function closePreview() {
                            document.getElementById("preview-image").style.display = "none";
                            document.getElementById("image-gallery-preview").style.display = "none";
                            document.getElementById("preview-cover").style.display = "none";
                            document.getElementById("image-cover-preview").style.display = "none";
                        }

                        function handleCover(event) {
                            const fileInput = event.target;
                            const file = fileInput.files[0];

                            // Check if a file is selected
                            if (file) {
                                const reader = new FileReader();

                                // Set up the reader to display the file
                                reader.onload = function (e) {
                                    const previewElement = document.getElementById("preview-cover");

                                    // Check the file type
                                    if (file.type.includes("image")) {
                                        // If it's an image, display it
                                        previewElement.src = e.target.result;
                                        previewElement.style.display = "block"; // Display the image preview
                                    } else {
                                        // If it's not an image, hide the image preview
                                        previewElement.style.display = "none";
                                    }

                                    // Show the preview container
                                    document.getElementById("image-cover-preview").style.display = "block";

                                };

                                // Read the file as a data URL
                                reader.readAsDataURL(file);
                            } else {
                                // Hide the preview container, file name, and download link if no file is selected
                                document.getElementById("image-cover-preview").style.display = "none";
                            }
                        }

                        function handlePicture(event) {
                            const fileInput = event.target;
                            const file = fileInput.files[0];

                            // Check if a file is selected
                            if (file) {
                                const reader = new FileReader();

                                // Set up the reader to display the file
                                reader.onload = function (e) {
                                    const previewElement = document.getElementById("preview-image");



                                    // Check the file type
                                    if (file.type.includes("image")) {
                                        // If it's an image, display it
                                        previewElement.src = e.target.result;
                                        previewElement.style.display = "block"; // Display the image preview
                                    } else {
                                        // If it's not an image, hide the image preview
                                        previewElement.style.display = "none";
                                    }

                                    // Show the preview container
                                    document.getElementById("image-gallery-preview").style.display = "block";

                                };

                                // Read the file as a data URL
                                reader.readAsDataURL(file);
                            } else {
                                // Hide the preview container, file name, and download link if no file is selected
                                document.getElementById("image-gallery-preview").style.display = "none";
                            }
                        }


                        function saveProfilePicture(companyId) {
                            var formData = new FormData();
                            formData.append('profile_picture', document.getElementById('profile').files[0]);
                            formData.append('company_id', companyId);
                            console.log(document.getElementById('profile').files[0]);
                            $.ajax({
                                type: 'POST',
                                url: '/employer/update_profile_picture/',
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    console.log(data);
                                    if (data.success) {
                                        console.log('Profile picture updated successfully');
                                        // Add any additional logic or UI updates here
                                        const success_edit_toast = document.getElementById('success-profile-toast');
                                        bootstrap.Toast.getOrCreateInstance(success_edit_toast).show();
                                        $('#edit-company-picture').modal('hide');
                                        hidePreviewProfile();
                                    } else {
                                        $('#profile-alert').show();
                                        $("#profile-alert").text(response.message).show();
                                        console.log('Failed to update profile picture: ' + data.message);
                                        const failed_edit_toast = document.getElementById('failed-profile-toast');
                                        bootstrap.Toast.getOrCreateInstance(failed_edit_toast).show();
                                        hidePreviewProfile();
                                    }
                                    fetchCompanyData("{{request.session.id}}");
                                },
                                error: function (xhr, status, error) {
                                    console.log('Failed to update profile picture: ' + error);
                                    const failed_edit_toast = document.getElementById('failed-profile-toast');
                                    bootstrap.Toast.getOrCreateInstance(failed_edit_toast).show();
                                }
                            });
                        }

                        function saveCoverPhoto(companyId) {
                            var formData = new FormData();
                            formData.append('cover_photo', document.getElementById('cover-photo').files[0]);
                            formData.append('company_id', companyId);
                            console.log(document.getElementById('cover-photo').files[0]);
                            $.ajax({
                                type: 'POST',
                                url: '/employer/update_cover_photo/',
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    console.log(data);
                                    if (data.success) {
                                        console.log('Cover photo updated successfully');
                                        // Add any additional logic or UI updates here
                                        const success_edit_toast = document.getElementById('success-cover-toast');
                                        bootstrap.Toast.getOrCreateInstance(success_edit_toast).show();
                                        $('#edit-company-cover').modal('hide');
                                        hidePreviewCover();
                                    } else {
                                        $('#cover-alert').show();
                                        $("#cover-alert").text(response.message).show();
                                        console.log('Failed to update cover photo: ' + data.message);
                                        const failed_edit_toast = document.getElementById('failed-cover-toast');
                                        bootstrap.Toast.getOrCreateInstance(failed_edit_toast).show();
                                        hidePreviewCover();
                                    }
                                    fetchCompanyData("{{request.session.id}}");
                                },
                                error: function (xhr, status, error) {
                                    console.log('Failed to update cover photo: ' + error);
                                    const failed_edit_toast = document.getElementById('failed-cover-toast');
                                    bootstrap.Toast.getOrCreateInstance(failed_edit_toast).show();
                                }
                            });
                        }

                    </script>
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit Company Picture</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div style="display: none;" class="alert alert-danger" role="alert" id="profile-alert">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <!-- Inside the modal body -->
                                <div id="image-gallery-preview" style="display: none;">
                                    <img id="preview-image" alt="File Preview" class="m-auto"
                                        style="max-width: 100%; max-height: 200px;" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="profile-picture" class="form-label">Profile Picture</label>
                                    <input class="form-control" type="file" id="profile" accept="image/*"
                                        onchange="handlePicture(event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="closePreview()">Close</button>
                        <button type="button" class="btn btn-purple"
                            onclick="saveProfilePicture('{{request.session.id}}')">Save
                            picture</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-profile" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit Company Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <input type="hidden" id="edit-company-id" name="company_id" value="{{request.session.id}}">
                            <div class="col-12">
                                <div style="display: none;" class="alert alert-danger" role="alert" id="edit-alert">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control edit-profile" id="company_name"
                                        name="company_name" placeholder="" required>
                                    <label for="companyName">Company Name</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control edit-profile" id="company_email"
                                        name="company_email" placeholder="" required>
                                    <label for="companyEmail">Company Email</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control edit-profile" id="location" name="location"
                                        placeholder="" required>
                                    <label for="location">Location</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="url" class="form-control edit-profile" id="website" name="website"
                                        placeholder="" required>
                                    <label for="website">Website</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control edit-profile" id="scope" name="scope"
                                        placeholder="" required>
                                    <label for="scope">Scope</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea style="height: 100px;" class="form-control edit-profile" id="overview"
                                        name="overview" placeholder="" required></textarea>
                                    <label for="overview">Overview</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea style="height: 100px;" class="form-control edit-profile" id="join_us"
                                        name="join_us" placeholder="" required></textarea>
                                    <label for="joinUs">Why Join Us?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-purple" onclick="editCompanyProfile()">Save
                            profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-company-profile" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit Company Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            <strong>Error:</strong>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-purple" id="add-company-btn">Add
                            profile</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/js-cdn.html' %}
    </div>

</body>

</html>