{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    <!-- Custom fonts for this template -->
    {% include 'includes/header-cdn.html' %}
    <link rel="stylesheet" href="{% static 'css/company_profile.css' %}">
    <!-- Include Bootstrap Datepicker JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'includes/navbar.html' %}

        <div class="banner d-flex justify-content-end align-items-center">
        </div>

        <!-- Begin Page Contents -->
        <div class="">
            <div>
                <div class="col-md-12 mx-auto p-0">
                    <div class="bg-white shadow overflow-hidden">
                        <div class="px-4 pt-0 pb-4 cover">
                            <div class="media align-items-end profile-head">
                                <div class="profile mr-3">
                                    <img src="./static/resources/accenture.png" alt="..." width="130"
                                        class="rounded mb-2 img-thumbnail">
                                    <a href="#" class="btn btn-outline-dark btn-sm btn-block" data-bs-toggle="modal"
                                        data-bs-target="#edit-choose">Edit profile</a>
                                </div>
                                <div class="media-body mb-5 text-white">
                                    <h2 class="mt-0 mb-3 fw-bold text-purple">Accenture</h2>
                                </div>
                            </div>

                        </div>
                        <div style="height: 100px;" class="bg-light p-4 d-flex justify-content-end text-center">

                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Error:</strong>
                            {{ form.errors }}
                        </div>
                        {% endif %}


                        <!-- ABOUT -->
                        <div class="p-4">
                            <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link  active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-about" type="button" role="tab"
                                        aria-controls="pills-home" aria-selected="true">Home</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-jobs" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Profile</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                                    aria-labelledby="pills-about-tab" tabindex="0">
                                    <ul class="list-unstyled text-purple">
                                        <li class="mb-2"><i class="bi bi-envelope me-2"></i><span
                                                class="text-black fw-bold">Accenture@gmail.com</span></li>
                                        <li class="mb-2"><i class="bi bi-geo-alt me-2"></i></i><span
                                                class="text-black fw-bold">Citibank Center, Paseo de Roxas, Makati, 1126
                                                Metro Manila, Philippines</span></li>
                                        <li class="mb-2"><i class="bi bi-link-45deg me-2"></i><span
                                                class="text-black fw-bold">Accenture.com</span></li>
                                        <li class="mb-2"><i class="bi bi-card-checklist me-2"></i><span
                                                class="text-black fw-bold">Information Communications and
                                                Technology</span></li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="pills-jobs" role="tabpanel"
                                    aria-labelledby="pills-jobs-tab" tabindex="0">...</div>
                            </div>
                        </div>
                        <!-- ABOUT -->

                        <!-- COMPANY OVERVIEW -->
                        <div class="px-4 mb-3">
                            <h4 class="text-purple fw-bold">Company Overview</h4>
                            <div class="border border-light-subtle rounded p-2">
                                <p>
                                    Accenture is a global professional services company with leading capabilities in
                                    digital, cloud and security. Combining unmatched experience and specialized skills
                                    across more than 40 industries, we offer Strategy and Consulting, Interactive,
                                    Technology and Operations services—all powered by the world’s largest network of
                                    Advanced Technology and Intelligent Operations centers.

                                    Our 514,000 people deliver on the promise of technology and human ingenuity every
                                    day, serving clients in more than 120 countries. We embrace the power of change to
                                    create value and shared success for our clients, people, shareholders, partners and
                                    communities.

                                    Visit us at www.accent

                                </p>
                            </div>
                        </div>
                        <!-- COMPANY OVERVIEW -->

                        <!-- COMPANY OVERVIEW -->
                        <div class="px-4 mb-3">
                            <h4 class="text-purple fw-bold">Why Join us?</h4>
                            <div class="border border-light-subtle rounded p-2">
                                <p>
                                    Your career is about what you want to do and who you want to be. It’s about bringing
                                    your skills, your curiosity and your best true self to work every day.
                                    At Accenture, we collaborate with exceptional people across the globe, combining our
                                    ingenuity, industry expertise and the latest technology to deliver 360° value for
                                    our clients, people and communities.
                                    Here, you can harness powerful change to make a world of difference!
                                </p>
                            </div>
                        </div>
                        <!-- COMPANY OVERVIEW -->

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <div class="modal fade" id="edit-choose" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-picture"><i class="bi bi-camera2 me-1"></i>Profile
                                    Picture</button>
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-cover"><i class="bi bi-image me-1"></i>Cover
                                    Photo</button>
                                <button type="button" class="btn btn-purple" data-bs-toggle="modal"
                                    data-bs-target="#edit-company-profile"><i class="bi bi-info-circle me-1"></i>Company
                                    Details</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-cover" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Cover</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <!-- Inside the modal body -->
                                    <div id="image-cover-preview" style="display: none;">
                                        <img id="preview-cover" alt="File Preview" class="m-auto"
                                            style="max-width: 100%; max-height: 200px;" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="profile-picture" class="form-label">Profile Picture</label>
                                        <input class="form-control" type="file" id="profile-picture"
                                            onchange="handleCover(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="closePreview()">Close</button>
                            <button type="button" class="btn btn-purple">Save Cover</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-picture" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Picture</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <!-- Inside the modal body -->
                                    <div id="image-gallery-preview" style="display: none;">
                                        <img id="preview-image" alt="File Preview" class="m-auto"
                                            style="max-width: 100%; max-height: 200px;" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="profile-picture" class="form-label">Profile Picture</label>
                                        <input class="form-control" type="file" id="cover"
                                            onchange="handlePicture(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>

                            function closePreview() {
                                document.getElementById("preview-image").style.display = "none";
                                document.getElementById("image-gallery-preview").style.display = "none";
                                document.getElementById("preview-cover").style.display = "none";
                                document.getElementById("image-cover-preview").style.display = "none";
                            }

                            function handleCover(event) {
                                const fileInput = event.target;
                                const file = fileInput.files[0];

                                // Check if a file is selected
                                if (file) {
                                    const reader = new FileReader();

                                    // Set up the reader to display the file
                                    reader.onload = function (e) {
                                        const previewElement = document.getElementById("preview-cover");

                                        // Check the file type
                                        if (file.type.includes("image")) {
                                            // If it's an image, display it
                                            previewElement.src = e.target.result;
                                            previewElement.style.display = "block"; // Display the image preview
                                        } else {
                                            // If it's not an image, hide the image preview
                                            previewElement.style.display = "none";
                                        }

                                        // Show the preview container
                                        document.getElementById("image-cover-preview").style.display = "block";

                                    };

                                    // Read the file as a data URL
                                    reader.readAsDataURL(file);
                                } else {
                                    // Hide the preview container, file name, and download link if no file is selected
                                    document.getElementById("image-cover-preview").style.display = "none";
                                }
                            }

                            function handlePicture(event) {
                                const fileInput = event.target;
                                const file = fileInput.files[0];

                                // Check if a file is selected
                                if (file) {
                                    const reader = new FileReader();

                                    // Set up the reader to display the file
                                    reader.onload = function (e) {
                                        const previewElement = document.getElementById("preview-image");

                                        // Check the file type
                                        if (file.type.includes("image")) {
                                            // If it's an image, display it
                                            previewElement.src = e.target.result;
                                            previewElement.style.display = "block"; // Display the image preview
                                        } else {
                                            // If it's not an image, hide the image preview
                                            previewElement.style.display = "none";
                                        }

                                        // Show the preview container
                                        document.getElementById("image-gallery-preview").style.display = "block";

                                    };

                                    // Read the file as a data URL
                                    reader.readAsDataURL(file);
                                } else {
                                    // Hide the preview container, file name, and download link if no file is selected
                                    document.getElementById("image-gallery-preview").style.display = "none";
                                }
                            }
                        </script>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="closePreview()">Close</button>
                            <button type="button" class="btn btn-purple">Save picture</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-picture" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Picture</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div>
                                    <div class="mb-3">
                                        <label for="profile-picture" class="form-label">Profile Picture</label>
                                        <input class="form-control" type="file" id="profile-picture">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-purple">Save picture</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="edit-company-profile" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form method="post" action="{% url 'add_company_profile' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit Company Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {{ form.as_p }}
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="company_name" name="company_name"
                                            placeholder="" required>
                                        <label for="companyName">Company Name</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="company_email" name="company_email"
                                            placeholder="" required>
                                        <label for="companyEmail">Company Email</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="location" name="location"
                                            placeholder="" required>
                                        <label for="location">Location</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="url" class="form-control" id="website" name="website"
                                            placeholder="" required>
                                        <label for="website">Website</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="scope" name="scope" placeholder=""
                                            required>
                                        <label for="scope">Scope</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea style="height: 100px;" class="form-control" id="overview"
                                            name="overview" placeholder="" required></textarea>
                                        <label for="overview">Overview</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea style="height: 100px;" class="form-control" id="join_us" name="join_us"
                                            placeholder="" required></textarea>
                                        <label for="joinUs">Why Join Us?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-purple">Save profile</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/js-cdn.html' %}

</body>

</html>