{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    <!-- Custom fonts for this template -->
    {% include 'includes/header-cdn.html' %}
    <link rel="stylesheet" href="{% static 'css/post_job.css' %}">
    <!-- Include Bootstrap Datepicker JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'includes/navbar.html' %}

        <div class="banner d-flex justify-content-end align-items-center">
            <button id="post" class="btn btn-primary btn-sm me-2 rounded-pill" type="button"><i
                    class="bi bi-plus-circle me-0 me-sm-1"></i><span class="d-none d-sm-inline" data-bs-toggle="modal"
                    data-bs-target="#add">POST A JOB</span></button>
        </div>

        <!-- Modal Add-->
        <div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Post A Job</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="form-add" method="post" action="{% url 'add_job' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="alert alert-danger mb-2" role="alert" id="alert-container"
                                style="display: none;">
                                <i class="bi bi-exclamation-circle me-2"></i><span id="alert-text"></span>
                            </div>

                            <div class="container-fluid">


                                <div class="row gap-1">
                                    <div class="col-6 mb-1 p-0">
                                        <div class="form-floating">
                                            <input type="text" name="title" id="edit-benefactor" class="form-control"
                                                placeholder="" />
                                            <label class="form-label" for="edit-benefactor">Job Title<span
                                                    class="text-danger"> *</span></label>
                                        </div>
                                    </div>

                                    <div class="col mb-2 p-0">
                                        <div class="form-floating position-relative">
                                            <input type="number" name="number_of_people" id="edit-student-number"
                                                class="form-control" required />
                                            <label class="form-label" for="edit-student-number">Number of People to
                                                hire<span class="text-danger"> *</span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row gap-1">
                                    <div class="col mb-1 p-0">
                                        <div class="form-floating">
                                            <input type="number" name="salary" id="edit-benefactor" class="form-control"
                                                placeholder="" />
                                            <label class="form-label" for="edit-benefactor">Salary<span
                                                    class="text-danger"> *</span></label>
                                        </div>
                                    </div>

                                    <div class="col mb-2 p-0">
                                        <div class="form-floating position-relative">
                                            <input type="text" name="category" id="edit-student-number"
                                                class="form-control" required />
                                            <label class="form-label" for="edit-student-number">Category<span
                                                    class="text-danger"> *</span></label>
                                        </div>
                                    </div>

                                    <div class="col mb-2 p-0">
                                        <div class="form-floating position-relative">
                                            <input type="text" name="location" id="edit-student-number"
                                                class="form-control" required />
                                            <label class="form-label" for="edit-student-number">Location<span
                                                    class="text-danger"> *</span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row gap-1">
                                    <div class="col-12 mb-1 p-0">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control" name="description" id="editDescription"
                                                style="height: 100px" rows="4"></textarea>
                                            <label class="form-label" for="description">Job Description</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row gap-1">
                                    <div class="col mb-1 p-0">
                                        <label class="form-label" for="description">Job Requirements</label>

                                        <div class="row ms-4">
                                            <div class="col mb-2 p-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="requirement1" type="checkbox"
                                                        id="requirement1">
                                                    <label class="form-check-label" for="requirement1">
                                                        Requirement 1
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col mb-2 p-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="requirement2" type="checkbox"
                                                        id="requirement2">
                                                    <label class="form-check-label" for="requirement2">
                                                        Requirement 2
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col mb-2 p-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="requirement3" type="checkbox"
                                                        id="requirement3">
                                                    <label class="form-check-label" for="requirement3">
                                                        Requirement 3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row gap-1">
                                    <div class="col mb-2 p-0">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">Date</span>
                                            <input type="date" name="date" class="form-control datepicker"
                                                id="datepicker">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="publish-announcement">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Begin Page Content -->
        <div class="container">
            <div>
                <h3>Test Page</h3>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/js-cdn.html' %}
    <!-- <script>
        // Initialize datepicker
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',  // You can customize the date format
                autoclose: true,
            });
        });
    </script> -->


</body>

</html>